/target
/dist
**/*.rs.bk
Cargo.lock

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TaaS Specific
stderr.log
out.log
out.json
*.tmp
tests/snapshots/*.json.tmp
fuzz/corpus
fuzz/artifacts
